
body {
    font-size: 200%;
}

.container {
    margin: 30px;
}

.error {
    color: #c33;
    font-size: 0.6em;
    line-height: 1em;
    overflow-y: scroll;
}

h1 {
    text-align: center;
}

input[type=submit],
.CodeMirror {
    width: 100%;
}

input[type=submit] {
    margin: 10px 0 10px 0;
    height: 50px;
    font-size: 1.1em;
}

.result {
    text-align: center;
    font-family: courier;
    line-height: 1.2em;
}

.timer {
    margin-top: 15px;
    text-align: right;
    font-size: 1.5em;
}

.result,
.CodeMirror {
    border: 2px #666 solid;
}

.result,
.CodeMirror,
.CodeMirror-scroll {
    height: 200px;
}

