
body {
    font-size: 200%;
}

.container {
    margin: 30px;
}

.error {
    color: #c33;
    font-size: 2em;
    line-height: 1.5em;
}

h1 {
    text-align: center;
}

input[type=submit],
.CodeMirror {
    width: 100%;
}

input[type=submit] {
    margin: 10px 0 10px 0;
    height: 50px;
    font-size: 1.3em;
}

.result {
    text-align: center;
}

.CodeMirror {
    height: 200px;
    border: 2px #666 solid;
}

