
body {
    font-size: 200%;
}

.container {
    margin: 30px auto;
    width: 700px;
}

.error {
    color: #c33;
    font-size: 0.6em;
    line-height: 1em;
    overflow-y: scroll;
}

h1 {
    text-align: center;
}

input[type=submit],
.CodeMirror {
    width: 100%;
}

input[type=submit] {
    margin: 10px 0 10px 0;
    height: 50px;
    font-size: 1.1em;
}

.result {
    text-align: center;
    font-family: courier;
    line-height: 1.2em;
}

.timer {
    margin-top: 15px;
    text-align: right;
    font-size: 1.5em;
}

.CodeMirror {
    margin-bottom: 10px;
}

.result,
.CodeMirror {
    border: 4px #aaa solid;
    border-radius: 20px;
}

.result {
    height: 100px;
    border-color: #c66;
    background-color: #faa;
}

.success {
    border-color: #6c6;
    background-color: #afa;
}

.CodeMirror,
.CodeMirror-scroll {
    height: 300px;
}

.hide,
.editor {
    display: none;
}

.show {
    display: block;
}

h1 {
    font-size: 2em;
    line-height: 1.6em;
}

.intro {
    text-align: center;
}

.intro a {
    display: block;
    font-size: 1.6em;
    line-height: 1.6em;
    margin-top: 200px;
}

.editor {
    position: relative;
}

.description {
    font-size: 1em;
    line-height: 1.1em;
}

.hint {
    position: absolute;
    right: -110px;
    color: #aaa;
    width: 80px;
    line-height: 1.3em;
}

.hint-editor {
    top: 190px;
}

.hint-result {
    top: 490px;
}

